<header ng-switch on="$location.path().indexOf('/Professors/new') > -1">
    <h3 ng-switch-when="true">Create a new Professor</h3>
    <h3 ng-switch-when="false">View or edit Professor</h3>
</header>
<form id="ProfessorForm" name="ProfessorForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': ProfessorForm.nome.$invalid}">
        <label for="nome" class="col-sm-2 control-label">Nome</label>
        <div id="nomeControls" class="col-sm-10">
            <input id="nome" name="nome" type="text" required ng-maxlength="200" class="form-control" ng-model="professor.nome" placeholder="Enter the Professor Nome"></input>
            <span class="help-block error" ng-show="ProfessorForm.nome.$error.required">required</span> 
            <span class="help-block error" ng-show="ProfessorForm.nome.$error.maxlength">maximum length is 200</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProfessorForm.cpf.$invalid}">
        <label for="cpf" class="col-sm-2 control-label">cpf</label>
        <div id="cpfControls" class="col-sm-10">
            <input id="cpf" name="cpf" type="text" ng-maxlength="11" class="form-control" ng-model="professor.cpf" placeholder="Enter the Professor cpf"></input>
            <span class="help-block error" ng-show="ProfessorForm.cpf.$error.maxlength">maximum length is 11</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProfessorForm.dataNascimento.$invalid}">
        <label for="dataNascimento" class="col-sm-2 control-label">Data Nascimento</label>
        <div id="dataNascimentoControls" class="col-sm-10">
            <date id="dataNascimento" name="dataNascimento" ng-model="professor.dataNascimento" placeholder="Enter the Professor Data Nascimento"></date>
            <span class="help-block error" ng-show="ProfessorForm.dataNascimento.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveProfessor" name="saveProfessor" class="btn btn-primary" ng-disabled="isClean() || ProfessorForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteProfessor" name="deleteProfessor" class="btn btn-danger" ng-show="professor.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>